<form class="view-form edit-project-details" name="projectForm" novalidate>

	<div class="view-title-container flex-row">
		<h1>Edit Project &nbsp;&rsaquo;&nbsp; {{project.name}}
			<span class="placeholder-value" ng-if="!project.name">Untitled Project</span>
		</h1>
		<div class="actions">
			<button class="btn btn-default btn-sm" 
				ng-if="!isNew" 
				ng-click="cancelChanges('Cancel Changes', 'Are you sure you would like to exit and discard all changes', 'Cancel Changes', 'Go Back')">
				Cancel
			</button>
			<button class="btn btn-default btn-sm" 
				ng-if="isNew" 
				ui-sref="projects">
				Cancel
			</button>
			<button class="btn btn-primary btn-sm" type="submit"
				ng-click="saveProject(projectForm.$valid)" 
				ng-if="project.status !== 'Initiated'">
				Save
			</button>
			<button class="btn btn-danger btn-sm" 
				ng-click="deleteProject()" 
				ng-if="!isNew && !project.isPublished && project.userCan.delete">
				<span class="glyphicon glyphicon-trash"></span>
				<span>Delete Project</span>
			</button>
			<button class="btn btn-success btn-sm" 
				ng-click="submitProject(projectForm.$valid, 'Submit Project', 'Are you sure you would like to submit this project. Clicking OK will make this project and its content publicly available.', 'Submit Project', 'Cancel')"
				ng-if="project.status === 'Initiated'">
				 Submit Project
			</button>
		</div>
	</div>

	<div class="view-body-container">
		<ul class="nav nav-tabs" ng-init="form.curTab = 'Project Details'">
			<li class="form-group" ng-class="{'active':form.curTab === 'Project Details'}" 
				role="presentation" 
				x-show-errors>
				<a title="Edit Project Details" name="detailsForm" 
					ng-click="form.curTab = 'Project Details'">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					Project Details
				</a>
			</li>
			<li class="form-group" ng-class="{'active':form.curTab === 'Proponent Info'}"
				role="presentation"
				x-show-errors>
				<a title="Edit Proponent Information" name="proponentForm" 
					ng-click="form.curTab = 'Proponent Info'">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					Proponent Info
				</a>
			</li>
			<li class="form-group" ng-class="{'active':form.curTab === 'Site Activities'}"
				role="presentation">
				<a title="Edit Site Activites" 
					ng-click="form.curTab = 'Site Activities'">
					Edit Site Activities
				</a>
			</li>
		</ul>

		<div class="tab-pane active" 
			ng-show="form.curTab === 'Project Details'" 
			ng-form="detailsForm">
			<fieldset>
				<legend>General Info</legend>
				<div class="form-group" x-show-errors>
					<label class="control-label" for="name">Project Name
						<em class="required">(Required)</em>
					</label>
					<input class="form-control" title="Project Name" id="name" name="projectname" 
						ng-model="project.name" 
						ng-change="onChangeProjectName()" 
						required />
				</div>
				<div class="form-group" x-show-errors>
					<label class="control-label" for="shortDesc">Project Description
						<em class="required">(Required)</em>
					</label>
					<textarea class="form-control" title="Project Description" id="shortDesc" name="projectdesc" rows="5"
						ng-model="project.description"
						required>
					</textarea>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group" x-show-errors>
							<label class="control-label" for="type">Type
								<em class="required">(Required)</em>
							</label>
							<select class="form-control" title="Project Type" id="type" name="type" 
								ng-model="project.type" 
								ng-change="project.sector = undefined"
								ng-options="type for type in types" 
								required>
							</select>
						</div>
					</div>
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label" for="phase">Status
							<em class="required">(Required)</em>
						</label>
						<select class="form-control" if="phase" id="phase" name="phase" 
							ng-model='project.currentPhaseCode' 
							ng-change='onChangePhase()'
							ng-options="key as value for (key, value) in allPhases" 
							required>
						</select>
					</div>
					<div class="col-md-4">
						<div class="form-group" x-show-errors>
							<label class="control-label" for="permitid">Permit Number</label>
							<input class="form-control input-sm" type="text" id="permitid" name="permitid"
								ng-model="project.memPermitID">
							<div ng-messages="projectForm.permitid.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Permit Number is required.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group" x-show-errors>
							<label class="control-label" for="commodity">Commodity/ies</label>
							<input class="form-control input-sm" type="text"  id="commodity" name="commodity"
								ng-model="project.commodity">
							<div ng-messages="projectForm.commodity.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Commodity is required.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" x-show-errors>
							<label for="ownership" class="control-label">Ownership</label>
							<input class="form-control input-sm" id="ownership" name="ownership" type="text" 
								ng-model="project.ownership">
							<div ng-messages="projectForm.ownership.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Ownership is required.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" x-show-errors>
							<label class="control-label" for="tailingsImpoundments">Tailings Impoundments</label>
							<input class="form-control input-sm" type="text" id="tailingsImpoundments" 
								name="tailingsImpoundments" 
								ng-model="project.tailingsImpoundments">
							<div ng-messages="projectForm.tailingsImpoundments.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Tailings Impoundments is required.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label" for="region">Region
							<em class="required">(Required)</em>
						</label>
						<select class="form-control" if="region" id="region" name="region" 
							ng-model='project.region' 
							ng-options="key as value for (key, value) in regions"
							required>
						</select>
					</div>
					<div class="lat-input col-sm-3 col-md-2 form-group" x-show-errors>
						<label class="control-label">Latitude
							<em class="required">(Required)</em>
						</label>
						<input class="form-control" type="number" step="any" id="latitude" name="latitude"
							ng-model="project.lat" 
							required />
					</div>
					<div class="long-input col-sm-3 col-md-2 form-group" x-show-errors>
						<label class="control-label">Longitude
							<em class="required">(Required)</em>
						</label>
						<input class="form-control" type="number" step="any" id="longitude" name="longitude" 
							ng-model="project.lon" 
							required />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
							<label class="control-label" for="isMajorMine">
								<input type="checkbox" id="isMajorMine" name="isMajorMine"
									ng-model="project.isMajorMine" 
									disabled /> 
									Show on mines.nrs
							</label>
						</div>
					</div>
				</div>

			</fieldset>
		</div>

		<div class="tab-pane" 
			ng-show="form.curTab === 'Proponent Info'">
			<fieldset>
				<legend>Organization</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Name</label>
							<p class="form-control-static">{{ project.proponent.name }}</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Website</label>
							<p class="form-control-static">{{ project.proponent.website }}</p>
						</div>
					</div>
				</div>
				<div class="form-group no-margin">
					<button class="btn btn-default btn-sm" type="button" 
						x-org-search-chooser x-title="'Set Organization'" 
						x-project="project"
						x-destination="project.proponent">
						Set Organization
					</button>
					<button class="btn btn-default btn-sm" type="button" 
						ng-click="clearOrganization()">
						Clear Organization
					</button>
				</div>
			</fieldset>
			<fieldset>
				<legend>Primary Contact</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Name</label>
							<p class="form-control-static">{{ project.primaryContact.displayName }}</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Email</label>
							<p class="form-control-static">{{ project.primaryContact.email }}</p>
						</div>
					</div>
				</div>
				<div class="form-group no-margin">
					<button class="btn btn-default btn-sm" type="button" 
						x-user-search-chooser  
						x-project="project"
						x-title="'Set Primary Contact'"
						x-singleselectmode="'true'" 
						x-destination="project.primaryContact">
						Set Primary Contact
					</button>
					<button class="btn btn-default btn-sm" type="button" 
						ng-click="clearPrimaryContact()">
						Clear Primary Contact
					</button>
				</div>
			</fieldset>
		</div>

		<div class="tab-pane"
			ng-show="form.curTab === 'Site Activities'">
			<ul class="edit-project-activity">
				<li class="edit-project-activity__item" ng-repeat="activity in project.activities">
					<label class="control-label" 
						for="siteActivity{{activity.name}}">
						{{activity.name}}
					</label>
					<select class="form-control" 
						id="siteActivity{{activity.name}}"
						ng-model="activity.status"
						ng-options="status as status for status in activityStatus">
					</select>
				</li>
			</ul>
		</div>

		<div class="form-footer clearfix">
			<div class="pull-right">
				<button class="btn btn-default btn-sm" 
					ng-if="!isNew" 
					ng-click="cancelChanges('Cancel Changes', 'Are you sure you would like to exit and discard all changes', 'Cancel Changes', 'Go Back')">
					Cancel
				</button>
				<button class="btn btn-default btn-sm" 
					ng-if="isNew" ui-sref="projects">
					Cancel
				</button>
				<button class="btn btn-primary btn-sm" type="submit" 
					ng-if="project.status !== 'Initiated'"
					ng-click="saveProject(projectForm.$valid)">
					Save
				</button>
				<button class="btn btn-success btn-sm" 
					ng-click="submitProject(projectForm.$valid, 'Submit Project', 'Are you sure you would like to submit this project. Clicking OK will make this project and its content publicly available.', 'Submit Project', 'Cancel')"
					ng-if="project.status === 'Initiated'">
				 	Submit Project
				</button>
			</div>
		</div>

	</div>

</form>